<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compitable" content="IE=edge">
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/modules\botstrap\css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/style.css">
</head>

<body>

    <div class="container m-4">
        <div class="card mx-auto" style="width:500px">
            <div class="card-header">
                @ViewBag.Greeting @ViewBag.Username, Nasılsın?
            </div>

            <div class="card-body">
                <p class="card-text">Umarım iyisindir...

                </p>
                <p>

                    <a asp-action="apply" asp-controller="course" class="btn btn-primary">Kayıt formu için
                        tıklayın</a>

                </p>
            </div>
        </div>
    </div>

</body>

</html>